* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  font-family: tahoma, arial, sans-serif;
  line-height: 1.5;
  padding-bottom: 20px; }

p, h1, h2 {
  width: 90%;
  margin: 1em auto;
  text-align: left; }

p {
  color: #666; }

span {
  color: #000; }

.info {
  background: #FFFBCC;
  border: 1px solid #FFEC19;
  color: #666;
  line-height: 1.6;
  margin-top: 12px;
  font-size: 13px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px; }

#page {
  width: 90%;
  margin: 1em auto;
  /*padding-bottom: 20px;*/
  text-align: left;
  position: relative; }

h1 {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  color: #333; }

h3 {
  font-size: 16px;
  margin: 20px 0 4px; }

h3 span {
  color: #333; }

#light-dialog, #light-dialog-shadow, #light-load {
  display: none; }

.copy-btn {
  display: block;
  text-decoration: none;
  position: relative;
  width: 90%;
  background: #f84e4e;
  color: #fff;
  height: 40px;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
  margin: 10px auto; }
